services:
  user-management:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-user-management:latest
    build:
      dockerfile: docker/sirius-user-management/Dockerfile
    depends_on:
      - sirius-mock
    ports: ["8888:8888"]
    environment:
      PORT: 8888
      SIRIUS_URL: http://sirius-mock:8080
      SIRIUS_PUBLIC_URL: http://localhost:8080

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: run --browser electron
    entrypoint: cypress
    depends_on:
      - user-management
    environment:
      - CYPRESS_BASE_URL=http://user-management:8888
      - CYPRESS_VIDEO=false
      - CYPRESS_MOCK_SERVER_URI=http://sirius-mock:8080
    working_dir: /e2e
    volumes:
      - ./cypress:/e2e/cypress
      - ./cypress.config.js:/e2e/cypress.config.js

  go-lint:
    image: golangci/golangci-lint:v2.9.0
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v1.53.3:/root/.cache
    command: golangci-lint run -v --timeout 5m --enable gosec --output.text.path stdout --output.sarif.path test-results/golangci-lint.sarif

  sirius-mock:
    image: wiremock/wiremock:3.13.2
    ports: ["8563:8080"]
    volumes:
      - "./cypress/mocks:/home/wiremock/mappings"

  pact-cli:
    image: pactfoundation/pact-cli:1.5.0.3
    working_dir: /go/src/app
    volumes:
      - ./pacts:/go/src/app/pacts

  test-runner:
    build:
      context: docker/test-runner/
    command: gotestsum --junitfile test-results/unit-tests.xml -- ./... -coverprofile=test-results/test-coverage.txt
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.gocache:/go/pkg/mod

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
