{% extends "layout.html" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "moj/components/search/macro.njk"              import mojSearch %}

{% block pageTitle %}
  Add user to team - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/teams/details">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Add user to team</h1>

  <div class="govuk-form-group">
    {{ mojSearch({
      action: '/teams/add-user-confirm',
      method: 'post',
      input: {
        id: 'search',
        name: 'search'
      },
      label: {
        text: 'Find a user'
      },
      button: {
        text: 'Search'
      }
    }) }}
  </div>
{% endblock %}
