{% extends "layout.html" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "moj/components/search/macro.njk"              import mojSearch %}

{% block pageTitle %}
  Add user to team - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/teams/details">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Add user to team</h1>

  <div class="govuk-form-group">
    {{ mojSearch({
      action: '/teams/add-user-confirm',
      method: 'post',
      input: {
        id: 'search',
        name: 'search',
        value: 'dorinda'
      },
      label: {
        text: 'Find a user'
      },
      button: {
        text: 'Search'
      }
    }) }}
  </div>

  {{ govukTable({
    firstCellIsHeader: true,
    caption: "Results",
    head: [
      {
        text: "Name"
      },
      {
        text: "Email"
      },
      {
        html: "<span class='govuk-visually-hidden'>Actions</span>"
      }
    ],
    rows: [
      [{text: 'Dorinda Fuselier'}, {text: 'dorinda.fuselier@opgtest.com'}, {html: 'Already in team'}],
      [{text: 'Dorinda Zurn'}, {text: 'dorinda.zurn@opgtest.com'}, {html: '<a href="/teams/details">Add to team</a>'}]
    ]
  }) }}
{% endblock %}
