{% extends "layout.html" %}

{% block pageTitle %}
  Delete Allocations - (Supervision) team
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/teams/edit">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Delete Allocations - (Supervision) team</h1>

      <p>Are you sure you want to delete the team <strong>Allocations - (Supervision)</strong>?</p>

      <form class="form" action="/teams" method="post">

        {{ govukButton({
          text: "Delete team",
          classes: "govuk-button--warning"
        }) }}

        {{ govukButton({
          element: "a",
          href: "/teams/edit",
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
