{% extends "layout.html" %}

{% block pageTitle %}
  Edit Allocations - (Supervision) team - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/teams/details">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Edit Allocations - (Supervision) team</h1>

      <form class="form" action="/teams" method="post">

        {{ govukInput({
          id: "f-name",
          name: "name",
          label: {
            text: "Team name"
          },
          value: "Allocations - (Supervision)"
        }) }}

        {% set supervisionTypes %}
        {{ govukSelect({
          id: "f-supervision-type",
          name: "supervision-type",
          label: {
            text: "Supervision team type"
          },
          items: [
            { value: "allocations", text: "Allocations", selected: true },
            { value: "complaints", text: "Complaints" },
            { value: "corporate", text: "Corporate" },
            { value: "finance", text: "Finance" },
            { value: "hw", text: "HW" },
            { value: "investigations", text: "Investigations" },
            { value: "lay", text: "Lay" },
            { value: "not-appropriate", text: "Not appropriate" },
            { value: "pa", text: "PA" },
            { value: "pro", text: "Pro" },
            { value: "visits", text: "Visits" }
          ]
        }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "f-service-conditional",
          name: "service",
          fieldset: {
            legend: {
              text: "Team service"
            }
          },
          items: [
            {
              value: "supervision",
              text: "Supervision",
              conditional: {
                html: supervisionTypes
              },
              checked: true
            },
            {
              value: "lpa",
              text: "LPA"
            }
          ]
        }) }}

        {{ govukInput({
          id: "f-phone",
          name: "phone",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Phone number"
          },
          value: "0123456789"
        }) }}

        {{ govukInput({
          id: "f-email",
          name: "email",
          classes: "govuk-!-width-two-thirds",
          type: "email",
          label: {
            text: "Email address (optional)"
          },
          value: "allocations.team@opgtest.com"
        }) }}

        {{ govukButton({
          text: "Save changes"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
