@use "node_modules/@ministryofjustice/frontend/moj/all";
@use "node_modules/govuk-frontend/dist/govuk" as *;

$moj-assets-path: "/admin/assets/";

.govuk-table .link-button {
  @include govuk-link-common;
  @include govuk-link-style-default;
  color: govuk-functional-colour(link);
  text-decoration: underline;
  margin-bottom: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  line-height: 1.3157894737;
  font-size: 1.1875rem;
  cursor: pointer;
}

.govuk-\!-width-one-tenth {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 10% !important;
  }
}

#link-placement {
  padding-left: 1em;
  line-height: 2;
}

#sirius-title {
  float: right;
  width: 60%;
}

#header-logo {
  width: 40%;
}

.app-table-align-middle {
  & th,
  & td {
    vertical-align: middle;
  }
}
.govuk-footer__copyright-logo::before {
  background: currentcolor;
  -webkit-mask-image: url("#{$moj-assets-path}images/govuk-crest.svg");
  mask-image: url("#{$moj-assets-path}images/govuk-crest.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 50% 0%;
  mask-position: 50% 0%;
  -webkit-mask-size: 125px 102px;
  mask-size: 125px 102px;
}


.govuk-footer__copyright-logo::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 112px;
  background-image: url("#{$moj-assets-path}images/govuk-crest.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 125px 102px;
  text-align: center;
  white-space: nowrap;
}

.moj-search__button {
  display: inline-block;
  position: relative;
  top: -2px;
  width: auto;
  margin-bottom: 0;
  margin-left: 10px;
  vertical-align: bottom;
}