{% extends "layout.html" %}

{% block pageTitle %}
  Add new user roles - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/add">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Add new user roles</h1>

      <form class="form" action="/home" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "organisation",
          name: "organisation",
          fieldset: {
            legend: {
              text: "Organisation",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              text: "COP User"
            },
            {
              text: "OPG User",
              selected: true
            }
          ]
        }) }}

        {% include './includes/roles-control.html' %}

        {{ govukButton({
          text: "Add user"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
