{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/home">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Add new user</h1>

      <form class="form" action="/home" method="post">

        {{ govukInput({
          id: "f-email",
          name: "email",
          label: {
            text: "Email address"
          }
        }) }}

        {{ govukInput({
          id: "f-firstname",
          name: "firstname",
          label: {
            text: "First name"
          },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          id: "f-lastname",
          name: "lastname",
          label: {
            text: "Last name"
          },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "organisation",
          name: "organisation",
          fieldset: {
            legend: {
              text: "Organisation",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              text: "COP User"
            },
            {
              text: "OPG User",
              selected: true
            }
          ]
        }) }}

        {% include './includes/roles-control.html' %}

        {{ govukButton({
          text: "Add user"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
