{% extends "layout.html" %}

{% block pageTitle %}
  Change password - Sirius
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Change password</h1>

      <form class="form" action="/my-details" method="post">

        {{ govukInput({
          id: "f-currentpassword",
          name: "currentpassword",
          type: "password",
          label: {
            text: "Current password",
            classes: "govuk-label--m"
          }
        }) }}

        {% call govukFieldset({
          legend: {
            text: "New password",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            id: "f-password1",
            name: "password1",
            type: "password",
            label: {
              text: "Create your new password"
            }
          }) }}

          {{ govukInput({
            id: "f-password2",
            name: "password2",
            type: "password",
            label: {
              text: "Confirm new password"
            }
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Save changes"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
