{% extends "layout.html" %}

{% block pageTitle %}
  Edit my details - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/home">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Edit my details</h1>

      <form class="form" action="/my-details" method="post">

        {{ govukInput({
          id: "f-phonenumber",
          name: "phonenumber",
          label: {
            text: "Telephone"
          },
          value: "03004560300",
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukButton({
          text: "Save changes"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
