{% extends "layout.html" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "moj/components/search/macro.njk"              import mojSearch %}

{% block pageTitle %}
  Users - Sirius
{% endblock %}

{% block content %}
  {{ mojPageHeaderActions({
    heading: {
      html: '<h1 class="govuk-heading-xl">Users</h1>'
    },
    items: [
      {
        text: 'Add new user',
        href: '/add',
        classes: 'govuk-button--secondary'
      }
    ]
  }) }}

  <div class="govuk-form-group">
    {{ mojSearch({
      action: '#',
      method: 'post',
      input: {
        id: 'search',
        name: 'search'
      },
      label: {
        text: 'Find a user'
      },
      button: {
        text: 'Search'
      }
    }) }}
  </div>

  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Name"
      },
      {
        text: "Email"
      },
      {
        text: "Status"
      },
      {
        html: "<span class='govuk-visually-hidden'>Actions</span>"
      }
    ],
    rows: [
      [{text: 'Maurine Bilski'}, {text: 'maurine.bilski@opgtest.com'}, {text: govukTag({ text: "Active" })}, {html: '<a href="/edit">Edit</a>'}],
      [{text: 'Leonie Bogdon'}, {text: 'leonie.bogdon@opgtest.com'}, {text: govukTag({ text: "Suspended", classes: "govuk-tag--grey" })}, {html: '<a href="/edit">Edit</a>'}],
      [{text: 'Quentin Boldman'}, {text: 'quentin.boldman@opgtest.com'}, {text: govukTag({ text: "Active" })}, {html: '<a href="/edit">Edit</a>'}],
      [{text: 'Mellie Dure'}, {text: 'mellie.dure@opgtest.com'}, {text: govukTag({ text: "Active" })}, {html: '<a href="/edit">Edit</a>'}],
      [{text: 'Letty Rodamis'}, {text: 'letty.rodamis@opgtest.com'}, {text: govukTag({ text: "Active" })}, {html: '<a href="/edit">Edit</a>'}],
      [{text: 'Susannah Wooward'}, {text: 'susannah.wooward@opgtest.com'}, {text: govukTag({ text: "Active" })}, {html: '<a href="/edit">Edit</a>'}]
    ]
  }) }}
{% endblock %}
