{% extends "layout.html" %}

{% block pageTitle %}
  Resend activation email - Sirius
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/edit">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Resend activation email</h1>

      <p>A new activation email has been sent to <strong>maurine.bilski@opgtest.com</strong></p>

      {{ govukButton({
        href: "/edit",
        text: "Continue"
      }) }}
    </div>
  </div>
{% endblock %}
