{% extends "layout.html" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "moj/components/search/macro.njk"              import mojSearch %}

{% block pageTitle %}
  Teams - Sirius
{% endblock %}

{% block content %}
  {{ mojPageHeaderActions({
    heading: {
      html: '<h1 class="govuk-heading-xl">Teams</h1>'
    },
    items: [
      {
        text: 'Add new team',
        href: '/teams/add',
        classes: 'govuk-button--secondary'
      }
    ]
  }) }}

  <div class="govuk-form-group">
    {{ mojSearch({
      action: '#',
      method: 'post',
      input: {
        id: 'search',
        name: 'search'
      },
      label: {
        text: 'Find a team'
      },
      button: {
        text: 'Search'
      }
    }) }}
  </div>

  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Name"
      },
      {
        text: "Type"
      },
      {
        text: "Members"
      }
    ],
    rows: [
      [{html: '<a href="/teams/details">Allocations - (Supervision)</a>'}, {text: 'Supervision — Allocations'}, {text: '3 users'}],
      [{html: '<a href="/teams/details">Attorneyship Investigation Team</a>'}, {text: 'LPA'}, {text: '10 users'}],
      [{html: '<a href="/teams/details">Complaints - (Supervision)</a>'}, {text: 'Supervision — Complaints'}, {text: '5 users'}],
      [{html: '<a href="/teams/details">Complaints Team</a>'}, {text: 'LPA'}, {text: '1 user'}],
      [{html: '<a href="/teams/details">Corporate Finance - (Supervision)</a>'}, {text: 'Supervision — Corporate'}, {text: '2 users'}]
    ]
  }) }}
{% endblock %}
